.subscribe_box {
    @include flex_between;
    height: 448px;
    background-image: url(/img/photo_subscribe.png);
    background-size: cover;
    align-items: baseline;

    &_left {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_box_text {
            width: 360px;
            height: 99px;
            margin-top: 30px;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 155px;
        margin-right: 100px;

        &_text1 {
            @extend %font_3;
            font-size: 24px;
            color: #222224;
        }

        &_text2 {
            @extend %font_1;
            font-size: 18px;
            color: #222224;
        }
    }
}

.subscribe_left_text {
    @extend %font_1;
    text-align: center;
    color: #222224;
    font-size: 20px;
}

.text_scb {
    text-align: center;
}

.send_form {
    display: flex;
    margin-top: 34px;

    &_mail {
        border: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 49px;
        width: 256px;
        background-color: #E1E1E1;
        padding-left: 22px;
        padding-bottom: 6px;
    }

    &_button {
        border: none;
        height: 49px;
        width: 100px;
        background-color: $color_pink;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #fff;
    }

    &_button:hover {
        background-color: #fff;
        color: $color_pink;
    }
}

.form11 {
    position: relative;
}

.box {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
}


.button_send_mail {
    width: 100px;
    height: 50px;
    color: #fff;
}

.path {
    position: relative;
}



.placeholder-class::placeholder {
    display: flex;
    width: 170px;
    height: 36px;
    align-items: center;
    justify-content: center;
    @extend %font_1;
    color: #222224;
    font-size: 14px;

}


.social {
    @include flex_between;
    height: 79px;
    background-color: #222224;
}

.copyright {
    color: #FBFBFB;
    @extend %font_1;
    font-size: 16px;

}

.social_network {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(4, 32px);
    justify-content: center;
}

.social_item {
    @include flex_center(0px);
    background-color: #FFF;
    width: 32px;
    height: 32px;

}

.social_item:hover {
    background-color: #F16D7F;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .subscribe_box {
        height: 693px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_right {
            margin-right: 0;
            margin-top: 80px;
        }
    }
}