$color_black_back: #222;
$color_black: #000;
$color_pink: #F16D7F;
$background_color_1: #F8F3F4;
$background_color_2: #F7F7F7;
$color_text_1: #5E5E5E;
$color_text_grey: #5D5D5D;
$color_text_grey_2: #575757;
$width_Burger_menu: 232px;